celery==5.0.1
python-docx==4.6.1
jupyter==1.0.0
openpyxl==3.0.5
Pillow==8.3.2
PyMySQL==0.10.1
PyPDF2==1.26.0
python-dotenv==0.14.0
# pywinpty==0.5.5
redis==3.5.3
reportlab==3.5.53
SQLAlchemy>=1.3.6
requests==2.24.0
eventlet==0.31.0
